<!DOCTYPE html>
<html>
  <head>

    <title>Resume Website</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>

  <body>

    {{{body}}}

  </body>


  </html>
